

html {
    overflow-x: hidden;
    background: rgb(34, 34, 34);
}
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
ul {
    list-style: none;
}

/*Navbar*/
.navbar {
    position: fixed;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color: rgb(238, 238, 238);
}
.logo {
    cursor: pointer;
}
.nav-links {
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;
}
.sign-up {
    margin: 0 290px;
    cursor: pointer;
}

section {
    margin: 10px auto;
}

/* Header */
header {
    width: 100vw;
    height: 100vh;
    background-image: url(images/M4.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    margin-bottom: 150px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.header-content h3 {
    font-size: 4vmin;
}
.header-content h2 {
    font-size: 4vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.header-content h1 {
    font-size: 8vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.btn {
    padding: 8px 15px;
    background: rgb(238, 0, 0);
    padding: 5px;
    border-radius: 10px;
}

/* 1st Section */
.first-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: black;
    width: fit-content;
    margin: 10px auto;
}
.box {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.watch-content {
    display: block;
    text-align: start;
    width: 60%;
    margin: auto 80px;
    color: whitesmoke;
    font-size: 5vmin;
    font-family: 'Times New Roman', Times, serif;
}
.smart-tv {
    display: block;
    width: 40%;
}
.watch-content h1 {
    color: whitesmoke;
    font-size: 7vmin;
}
.watch-content p{
    
}
.smart-tv img {
    max-width: 500px;
    margin: 10px;          
}
.second-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: black;
    width: fit-content;
    margin: 0;
}
.third-section {
    height: 35vh;
    display: block;
    flex-wrap: wrap;
    background: black;
    
}
.third-content {
    text-align: start;
    width: 50%;
    margin: 50px 80px;
    color: whitesmoke;
    font-size: 5vmin;
    font-family: 'Times New Roman', Times, serif;
}
.forth-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: black;
    width: fit-content;
    margin: 0;
}








/* Mobile Device */
@media only screen and (max-width:850px){
    .navbar {
        padding: 10px;
    }
    .logo {
        position: relative;
        top: 10px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column-reverse;
        margin: 30 auto;
        width: 40%;
        height: 40vh;
        justify-content: center;
        margin-top: -90px;
        transition: all 0.5s ease;
    }
    li {
        margin: 0 0 20px 0;
    }
    .wrapper {

    }
}

/* Animations */
img {
    transition: transform .3s ease
}
img:hover {
    transform: scale(1.1);
}